body {
    display: flex;
    flex-flow: column wrap;
}

ul {
    display: flex;
    flex-flow: row nowrap;
    list-style: none;
    gap: 15px;
}

a {
    color: white;
    text-decoration: none;
}

h1 {
    font-size: 48px;
    font-weight: bolder;

}

p,
button {
    font-size: 18px;
}

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header,
.hero {
    background-color: #1f2937;
    color: white;
}