@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');

body {
    font-family: 'Questrial', sans-serif;
    display: flex;
    flex-flow: column wrap;
    margin: 0px;
}

ul {
    display: flex;
    flex-flow: row nowrap;
    list-style: none;
    gap: 15px;
}

a {
    color: white;
    text-decoration: none;
}

h1 {
    font-size: 64px;
    font-weight: bolder;
    color: #f9faf8;

}

h2 {
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 31px;
}

p {
    color: #e5e7eb;
}

button {
    background-color: #3882F6;
    padding: 5px 40px;
    border-radius: 10%;
    color: white;
    font-weight: bolder;
    border: 0px;
}

p,
button {
    font-size: 18px;
}

/*  Start Part of the Document  */

.start {
        display: flex;
        flex-flow: column wrap;
        background: #1f2937;
        gap: 3em;
}

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #f9faf8;
    font-size: 24px;
}

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 11em;
    padding-bottom: 10em;
}

.header,
.hero {
    color: white;
}

.placeholder-image {
    height: 245px;
    width: 602px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: grey;
}


.statement {
    width: 647px;
}

/*  Content part of the document    */

.content {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    
}

.subtext {
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
}

.cards {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    margin: auto 300px;
    margin-left: 0px;
}

.card {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    width: 4em;
    height: auto;
    margin: 4.49em;
}

.image-content {
    border: 4px solid blue;
    border-radius: 20%;
    padding: 80px;
}

.citeword {
    color: black;
    text-align: center;
}

/* Starts quote*/

em{
    font-size: 36px;
    color: #1f2937;
}

.quote {
    background: #e5e7eb;
    height: 500px;
    width: auto;
    padding: 150px 500px;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}

.quote-person {
    align-self: end;
    font-size: 1.5em;
}